pyTelegramBotAPI==4.23.0   # сама библиотека для бота
gspread==6.1.2             # работа с Google Sheets
google-auth==2.35.0        # авторизация для Google API
oauth2client==4.1.3        # токены для Google Sheets (нужен вместе с gspread)
